@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
}

.edicao-fundo {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  background-image: url("../../images/fundo.png");
  color: #ffffff;
}
.title {
  width: 100%;
  height: 100%;
  text-align: -webkit-center;
  margin-top: 31%;
  margin-bottom: 10%;
  font-size: 10pc;
  font-family: "Great Vibes", cursive;
}
.title ::-webkit-scrollbar {
  display: none;
}
